$stage-connector-color: gray !default;
$stage-opponent-color: gray !default;

.stage {
  &__connectors-container {
    position: absolute;
    right: 10px;
    top: 0;
  }

  &__connectors {

  }

  &__connector {
    color: $stage-connector-color;
  }

  &__round-holders {
    display: flex;
    flex-direction: row;
  }

  &__round {
    border: 1px solid gray;
  }

  &__round-name {
    border: 1px double gray;
  }

  &__round-matches {
    border: 1px double gray;
  }

  &__match {
    border: 1px double green;
  }

  &__match-name {
    font-weight: bold;
  }

  &__match-opponents {
    margin-bottom: 5px;
  }

  &__opponent {
    color: $stage-opponent-color;
  }
}
