$tournament-team-color: gray !default;
$tournament-team-winner-color: red !default;

.tournament {
  &__title {
    font-weight: bold;

  }

  &__content {
    display: flex;
    flex-direction: row;

  }

  &__teams {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__team {
    color: $tournament-team-color;

    &_winner {
      color: $tournament-team-winner-color;
    }
  }

  &__stages {
    width: 50%;
  }
}
