<div class="stage__match">
  <div class="stage__match-name">Match {{name}}</div>
  <div class="stage__match-opponents">
    <app-opponent name="Team 1"></app-opponent>
    <app-opponent name="Team 2"></app-opponent>
  </div>
</div>
