<div class="stage__connectors-container">
  <app-connectors *ngFor="let i of 10 | emptyArray"></app-connectors>
</div>

<div class="stage__round-holders">
  <app-round-holder *ngFor="let i of 5 | emptyArray"></app-round-holder>
</div>

<div class="stage__round-holders stage__round-holders_empty">
  <app-match-holder></app-match-holder>
</div>
