<div class="stage__round">
  <div class="stage__round-name">{{name}}</div>
  <div class="stage__round-matches">
    <app-match-holder [name]="i" *ngFor="let i of 4 | emptyArray"></app-match-holder>
  </div>
</div>
