<div class="tournament">
  <div class="tournament__title">Tournament 1</div>
  <div class="tournament__content">
    <div class="tournament__teams">
      <div class="tournament__team tournament__team_winner">Team 1</div>
      <div class="tournament__team">Team 2</div>
      <div class="tournament__team">Team 3</div>
    </div>
    <div class="tournament__stages">
      <app-stage name="Stage 1"></app-stage>
      <app-stage name="Stage 2"></app-stage>
      <app-stage name="Stage 3"></app-stage>
    </div>
  </div>
</div>
